<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recetas Seguras - Iniciar Sesión</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>
    <header>
        <h1>Iniciar Sesión</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/register">Registrarse</a>
        </nav>
    </header>

    <section>
        <form th:action="@{/api/auth/login}" method="post">
            <div>
                <label>Correo Electrónico:</label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label>Contraseña:</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit">Ingresar</button>
        </form>
        <div th:if="${param.error}">
            <p style="color: red;">Usuario o contraseña incorrectos.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Recetas Seguras</p>
    </footer>
</body>

</html>